.password-container{
  background: white;
  padding: 32px;
  box-shadow: 0 4px 18px rgba(173, 184, 202, 0.16);
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a{
  color: #0D99FF;
  font-weight: 500;
  cursor: pointer;
}

span {
  color: #454950;
  font-weight: 500;
}
