<app-invoices-table-wrapper [isLoading]="isLoading" title="Regular"
  subTitle="Regular invoices(sent once a month)" *ngIf="!isEmpty">
  <div class="">
    <app-table-header [cells]="headerCells" (headerEvent)="headerClick($event)"></app-table-header>
    <div *ngIf="invoices$ | async as invoices" class="w-full justify-between items-center">
      <app-table-row *ngFor="let row of invoices; index as i" [data]="row" [cells]="headerCells" [rowIndex]="i"
        (rowEvent)="rowClick($event)">
        <button >
          FFFFFFFFFFFFFFFFFFFFFF
        </button>
      </app-table-row>
      
    </div>
  </div>
</app-invoices-table-wrapper>
<div *ngIf="isEmpty && !isLoading" class="empty-invoices-container">
  <div>
    <img class="empty-invoices__image" src="../../../../../assets/images/icons/empty_icon.svg" alt="">
    <p class="empty-invoices__text">You have no templates. Let’s create one.</p>
    <div class="empty-invoices__buttons">
    </div>
  </div>
</div>

