.dropdown{
  background-color: #F9FAFB;
  color: #0D99FF;
  height: 78px;
  border: none;
  border-radius: 8px;
}

ul{
  color: #454950;
}

.items{
  background-color: #F9FAFB;
  border-radius: 8px;
}

.change__title{
  color: #F2A450;
  font-weight: 500;
}

.change__text
{
  color: #202123;
}

.partner{
  color: #35995F;
}
