.badge{
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
.badge-red{
  background-color: #FCF0ED;
  color:#ED5252;
}
.badge-yellow{
  color:#F2A450;
  background-color: #FDF4E7;
}
.badge-green{
  color:#64C68D;
  background-color: #EFFAF4;
}
