.counter{
  width: 150px;
  height: 40px;
  text-align: center;
}

.counter__button{
  width: 50px;
  border: 1px solid #0D99FF;
  color: #0D99FF;
}

.disabled{
  border: 1px solid #F2F4F8;
  color: #AFB4BD;
}

.counter__number{
  padding-top: 6px;
  width: 50px;
  background-color: #F2F4F8;
  border: 1px solid #F2F4F8;
}

.minus{
  border-radius: 6px 0px 0px 6px;
}

.plus{
  border-radius: 0px 6px 6px 0px;
}
