p.info{
  margin-left: calc(52px + 1.75rem);
}

.info {
  line-height: 20px;
  color: #AFB4BD;
}

.notification-text a {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D99FF;
}
