<app-modal-container [minWidth]="'588px'">
  <app-modal-title text="Add a new Employee"></app-modal-title>
  <div mat-dialog-content>
    <div class="mb-4">
      <app-input
        [label]="'E-mail'"
        placeholder="example@companyname.com"
        type="text"
        [control]="getFormControl('email')">
      </app-input>
      <app-generic-error-message [control]="getFormControl('email')"></app-generic-error-message>
      <ng-container *ngIf="(serverErrors$ | async) as serverErrors">
        <app-generic-error-message *ngIf="employeeForm?.valid && serverErrors['Email']" [message]="serverErrors['Email'][0]"></app-generic-error-message>
     </ng-container>
    </div>
    <div class="mb-4">
      <app-input
        label="Name and surname"
        placeholder="Name and surname"
        type="text"
        [control]="getFormControl('name')">
      </app-input>
      <app-generic-error-message [control]="getFormControl('name')"></app-generic-error-message>
    </div>
    <div class="mb-4">
      <app-dropdown
        [items]="roles"
        [formControl]="getFormControl('role')"
        label="Choose a role"
        [defaultValue]="roles[0]"></app-dropdown>
      <app-generic-error-message [control]="getFormControl('role')"></app-generic-error-message>
    </div>
  </div>
  <app-modal-actions-container>
    <app-button
      type="submit"
      [disabled]="!employeeForm?.valid"
      text="Add"
      [classList]="['w-[155px]']"
      (onClick)="onSubmit()">
    </app-button>
  </app-modal-actions-container>
</app-modal-container>
