<div class="container">

    <div class="logo-conteiner">

        <div class="header">
            <h1>Businesses of all sizes grow with</h1>
            <div class="name">
                <p>Billimo</p>
                <div class="vector">
                    <img src="/assets/images/icons/vector12.png">
                </div>
            </div>
        </div>

        <div class="main-info">
            <p>Explore Billimo’s buy-now-pay-later services, like Pay in 4, Pay in 30 days to give your customers the ultimate flexibility and keep them coming back for more.</p>
        </div>

        <div class="companies-count">
            <h2>Join 2000+ companies</h2>
        </div>

         <!-- TAG COMPONENT -->
        <span class="info1">
            41% increase in average order value
        </span>

        <span class="info1">
            30% increase in conversion
        </span>

        <span class="info1">
            Up to 40% of Paid sales come from new customers
        </span>

    </div>

</div>
