.additional-info {
  font-size: 14px;
  line-height: 20px;
  color: #898E96;
}

.main-info {
  font-weight: 500;

  &:only-child {
    line-height: 44px;
  }
}

.payment-method {
  box-shadow: 0 4px 18px rgba(173, 184, 202, 0.16);
  border-radius: 8px;

  &:hover{
    box-shadow: 0 4px 18px rgba(103, 116, 137, 0.16);
  }
}

.payment-icon {
  border-radius: 6px;
}
