<div class="flex flex-row items-center p-4 payment-method justify-between" *ngIf="model != undefined">
  <div class="flex flex-row">
    <img [src]="getIcon(model.methodType)" alt="icon" class="mr-4 payment-icon">

    <div class="flex flex-col">
      <span class="main-info">{{ model.title }}</span>
      <span class="additional-info" *ngIf="model.additional">{{ model.additional }}</span>
    </div>
  </div>

  <button class="flex flex-wrap items-center">
    <img src="assets/images/icons/edit.svg" alt="edit">
    <span class="additional-info ml-1">Edit</span>
  </button>
</div>
