:host{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.cell{   
    flex-shrink: 1;
    flex-grow: 1; 
    cursor: pointer;
}

app-table-header-cell{
    cursor: pointer;
}

.cantGrow{
    flex-grow: 0;
}
