:host{
  flex: 1 1 auto;
}

p{
  color: #70757E;
}

.appoved__container{
  background-color: #EFFAF4;
  border-radius: 12.3px;
}

.table{
  height: 270px;
}

.help-text{
  font-size: 14px;
  line-height: 20px;
  color: #70757E;
}
