<div class="grid grid-cols-[48%_1fr] gap-[34px]" *ngIf="(selectedBill$ | async) as bill">
  <div class="pt-4 pl-12">

    <app-invoice-template-new
      [title]="'Bill'"
      [buyer]="bill.buyer"
      [seller]="bill.seller"
      [invoice]="bill.invoice"
      [showTermsAndConditions]="false"
      [classList]="['pb-9']">
    </app-invoice-template-new>
  </div>

  <div class="bg-white py-6 flex flex-col justify-between">
    <div>
      <h4 class="px-8 font-medium text-[#202123] text-lg">Payment Details</h4>
      <div class="bg-[#E5E8EC] h-px mt-8"></div>
      <div class="mt-8 mx-8">
        <div class="bg-[#F9FAFB] rounded-lg text-base border-[#E5E8EC] border-[1px] px-6 py-[20px]">
          <span class="text-[#454950] font-normal">Invoice Number</span>
          <span class="ml-4 font-medium text-[#202123]">{{ bill.invoice.number }}</span>
        </div>
        <div class="mt-8">
          <h4 class="font-medium text-[#202123] text-lg">Company Vendor</h4>
          <div class="bg-[#F9FAFB] mt-6 px-6 py-4">
            <div class="flex items-center">
              <img class="h-[48px] mr-2" [src]="'data:image/png;base64,' + bill.seller.logo" alt="logo">
              <p class="text-[#202123] font-medium text-base">{{ bill.seller.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-8">
      <p class="text-[#202123] font-medium text-lg">To pay the bill, you need to log in to the system.</p>
      <div class="mt-8 grid grid-cols-2 gap-4">
        <app-button variant="outlined" text="Log in" (onClick)="login()"></app-button>
        <app-button text="Register" (onClick)="register()"></app-button>
      </div>
    </div>
  </div>
</div>

