<div class="rounded-xl p-8 bg-white transactions-container sm:transaction-container-flex"
     *ngIf="(transactions$ | async) as vm; else loading"
     [ngClass]="!vm.items.length ? 'transactions-container-flex' : ''">
    <h3 class="container-left">All Transactions</h3>

    <div class="transactions w-full mt-7 py-1" *ngIf="vm.items.length">
      <div *ngFor="let item of vm.items">
        <app-transactions-item [transaction]="item"></app-transactions-item>
      </div>
    </div>

    <p class="text-center mt-7 cursor-pointer" *ngIf="vm.totalCount">
      <a (click)="viewAll()">View all ({{vm.totalCount}})</a>
    </p>

    <div class="container-middle" *ngIf="!vm.items.length">
      <app-empty-state [message]="'No notifications yet'"></app-empty-state>
    </div>

</div>

<ng-template #loading>
  <div class="rounded-xl p-8 bg-white transactions-container">
    <app-placeholder [lines]="4"></app-placeholder>
  </div>
</ng-template>
