<div class="conteiner w-full flex justify-center">

  <div class="login-page">
    <app-about-us></app-about-us>

    <div class="flex justify-center items-center h-full login-conteiner" [style.display]="!(loading$ | async) ? 'none' : 'flex'">
        <app-spinner class="loading-container flex-content-center"></app-spinner>
      </div>

    <div class="login-conteiner" [style.display]="(loading$ | async) ? 'none' : 'flex'">
        <form [formGroup]="loginForm" (ngSubmit)="submit()" *ngIf="!(twoFactorRequired$ | async)">
            <div class="login-form">

                <h1 class = "mb-2">Log in</h1>
                <app-input class="mt-4" [label]="'E-mail'" placeholder="example@companyname.com" [control]="email"></app-input>
                <div *ngIf="email.hasError('required') && email.touched" class="error-message w-full help-text" >
                    required
                </div>

                <app-input class="mt-4" [label]="'Password'" [type]="'password'" placeholder="Password" [control]="password"></app-input>
                <div *ngIf="password.hasError('required') && password.touched" class="error-message w-full help-text" >
                    required
                </div>
              <div *ngIf="loginForm.valid">
                <p class="error-message" *ngFor="let error of errors$ | async">{{ error }}</p>
              </div>

                <app-button class="w-full my-8" [config]="submitCfg" [type]="'submit'"></app-button>
                <div class="register">
                    Don’t have an account?
                    <span>&nbsp;</span>
                    <a class="register-link" [routerLink]="'/company-onboarding'">Register</a>
                </div>

            </div>
        </form>

      <app-two-factor *ngIf="(twoFactorRequired$ | async)" [loginRequest]="request"></app-two-factor>
    </div>

  </div>
</div>

