<div class="flex justify-between items-center border-b border-b-[#E5E8EC] pb-2">
  <div class="flex w-auto my-1">
    <img *ngIf="!employee.invited" src="assets/images/icons/employee.svg" alt="employee" class="mr-6" />
    <img *ngIf="employee.invited" src="assets/images/icons/invitation_employee.svg" alt="invited"
      class="mr-6" />
    <div>
      <h3 class="text-base text-[#454950]">{{ employee.firstName }} {{ employee.lastName }}</h3>
      <p class="text-sm text-[#AFB4BD] mt-1">{{ employee.email }}</p>
    </div>
  </div>

  <div>
    <div *ngIf="!employee.invited" class="relative inline-block text-left">
      <div>
        <button (click)="toggleDropdown()" class="bg-transparent bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">
          <div class="flex text-[#64C68D] font-normal text-base">
            <span class="mr-4">{{ employee.role | StringValue : Role }}</span>
            <img [src]="isDropdownOpen ? 'assets/images/icons/arrow_up.svg' : 'assets/images/icons/arrow_down.svg'" />
          </div>
        </button>
      </div>

      <div *ngIf="isDropdownOpen" (click)="closeDropdown()"
        class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10">
        <div class="py-1">
          <a *ngFor="let role of roles" [class]="
              'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ' +
              (role === employee.role ? 'choose' : 'no-choose')
            " (click)="ChangeRole(role)">
            <img *ngIf="role === employee.role" src="assets/images/icons/circle.svg" alt="circle" class="mr-[10px]" />
            {{ role | StringValue : Role }}</a>
        </div>
      </div>
    </div>
    <div *ngIf="employee.invited" class="resend-email">
      <a class="cursor-pointer text-[#0D99FF] underline" (click)="ResendEmail()">Resend invitation link</a>
    </div>
  </div>
</div>

