<app-modal-container class="wide-container" *ngIf="!(isLoading$ | async) else loading">
  <h2 class="mb-6">Change password</h2>
  <app-input type="password" label="Old password" placeholder="" [control]="form.controls.oldPassword"></app-input>
  <ul class="error-message" *ngIf="passwordErrors$ | async as vm">
    <li *ngFor="let error of vm">
      {{error}}
    </li>
  </ul>

  <app-input type="password" label="Create a new password" placeholder="" class="mt-6 block" [control]="form.controls.newPassword"></app-input>
  <app-generic-error-message [control]="form.controls.newPassword"></app-generic-error-message>

  <ul class="password-tips mt-6">
    <li>
      Password must be at least 8 characters long
    </li>
    <li>
      English keyboard type
    </li>
    <li>
      Uppercase and lowercase letters
    </li>
    <li>
      Password must include at least 1 number
    </li>
  </ul>

  <div class="buttons pt-6">
    <app-button variant="decline" [config]="cancelButtonConfig" (click)="close()"></app-button>
    <app-button variant="standard" [config]="saveButtonConfig" (click)="onSubmit()" ></app-button>
  </div>

</app-modal-container>

<ng-template #loading>
  <div class="spinner-container">
    <app-spinner *ngIf="isLoading$" class="flex items-center"></app-spinner>
  </div>
</ng-template>
