.notifications > div:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

p.info{
  margin-left: calc(52px + 1.75rem);
}

.notifications-container{
  min-height: 444px;
}

.notifications {
  min-height: 275px;
}

.notifications-container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-middle {
  flex: 1;
  align-self: center;
  text-align: center;
  display: inline-block;
}

.container-left {
  flex: 1;
  align-self: flex-start;
  display: inline-block;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D99FF;
}
